* {
  box-sizing: border-box;
}
html {
  background-image: url('https://www.gallienoteca.com/pub/media/wysiwyg/blog/zalto/zalto1.jpg');
  background-size: cover;
  background-position: bottom;


}
body {
  padding: 0;
  margin: 0;
}
.background {
  margin-top: 60px;
  margin-bottom: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('https://images.squarespace-cdn.com/content/v1/54b3f75ee4b0cdf625ece0b0/1453333783970-E3Z5T5I9TXH4DVVXSYCG/ke17ZwdGBToddI8pDm48kIIp8K2K7mKd2QvtFJuOlKl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UdN6KFoLWn9QaHckewyL7Sw4itDZuqMtZw1wlm5gIBoBEObttv2dstUvyPf07O3izQ/market+basket+blueberries+radishes+cropped.jpg?format=2500w');
  background-repeat: repeat-y;
  background-size: cover;
}

header {
  text-align: center;
  background-color: rgba(116, 0, 0, 0.6);
  width: 100vw;
  height: 300px;
  position: relative;
  border-radius: 300px;
}
header h1 {
  font-size: 90px;
  color: rgb(252, 166, 52);
  font-family: 'Lobster', cursive;
  text-shadow: 8px 4px rgba(138, 2, 166, 0.57);

}
#options {
  height: 30px;
  width: 80px;
  border-radius: 10px;
  box-shadow: 4px 2px rgba(134, 134, 134, 0.71)
}
#options:hover {
  background-image: radial-gradient(rgba(207, 59, 125, 0.56),rgba(205, 197, 4, 0.7));
}
.tooltip {
  background-color: rgba(227, 246, 202, 0.74);
  width: 120px;
  margin-left: 80px;
  padding: 5px;
  border-style: ridge;

}
#input-box {
  height: 30px;
  width: 240px;
  border-radius: 5px;
  background-color: rgba(244, 228, 86, 0.65)
}
#input-btn {

  height: 30px;
  width: 80px;
  border-radius: 10px;
  box-shadow: 4px 2px rgba(134, 134, 134, 0.71);
  font-weight: bold;
  margin: 20px;
}
#input-btn:hover {
  background-image: radial-gradient(rgba(39, 177, 74, 0.59),rgba(205, 197, 4, 0.7));
}
.filter-btns {
  display: flex;
  justify-content: space-around;
}
.see-me {
  display: block;
  width: 160px;
  border: 3px solid rgba(0, 147, 19, 0.39);
  border-radius: 10px;
}
.see-me:hover {
  background-color: rgba(224, 200, 36, 0.47);
}
.filters {
  display: none;
}
.button {
  height: 10px;
  width: 100px;
}
h2 {
  color: rgb(72, 22, 80);
  font-size: 35px;
}
h2:hover {
  cursor: pointer;
  font-family: 'Fredoka One', cursive;
}
h6 {
  font-family: 'Vidaloka', serif;
  font-size: 20px;
  margin: 0 10%;
  text-align: center;
}
.search-result {
  border: 3px solid rgba(240, 158, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  color:rgb(196, 136, 2)
  position: relative;
  left: 20px;
  z-index: 1000;
  background-color: rgba(176, 176, 176, 0.85);
  padding: 5px;
  font-weight: bold;
  margin: 20px auto;
}
.recipe-image {
  margin: 1% auto;
}
.recipe-image:hover {
  cursor: pointer;
}
.remove-button {
  font-family: Arial;
  width: 20px;
  height: 20px;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
}
.remove-button:hover {
  background-color: red;
}
